In [1]:
import pandas as pd

In [2]:
dataPath = '../input/newSplited'
trainDataPath = dataPath + '/train.parquet'
valDataPath = dataPath + '/val_A.parquet'

outputPath = '../input/newSplited/parquets'

In [3]:
! mkdir {outputPath}
! mkdir {outputPath}/val_parquets
! mkdir {outputPath}/train_parquets

In [4]:
train_df = pd.read_parquet(trainDataPath)
print('Val data has shape',train_df.shape)
train_df.head()

Val data has shape (144332294, 4)

   session      aid          ts  type
0        0  1517085  1659304800     0
1        0  1563459  1659304904     0
2        0  1309446  1659367439     0
3        0    16246  1659367719     0
4        0  1781822  1659367871     0

In [5]:
chunkSize = 100000
start = train_df['session'].min()
maxSession = train_df['session'].max()
while(start <= maxSession):
    end = start + chunkSize
    df = train_df[(train_df['session'] >= start) & (train_df['session'] < end)].reset_index(drop=True)
    df.to_parquet(outputPath + f"/train_parquets/{start}_{end}.parquet")
    start = end

In [6]:
val_df = pd.read_parquet(valDataPath)
print('Val data has shape',val_df.shape)
val_df.head()

Val data has shape (9710478, 4)

   session      aid          ts  type
0  8643220   573273  1660514400     0
1  8643221   921137  1660514400     0
2  8643222   930597  1660514400     0
3  8643222  1037630  1660514457     0
4  8643222   756920  1660514485     0

In [7]:
chunkSize = 100000
start = val_df['session'].min()
maxSession = val_df['session'].max()
while(start <= maxSession):
    end = start + chunkSize
    df = val_df[(val_df['session'] >= start) & (val_df['session'] < end)].reset_index(drop=True)
    df.to_parquet(outputPath + f"/val_parquets/{start}_{end}.parquet")
    start = end